<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>

    <body>
        <h1 class="">TOLLGATE MANAGEMENT</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                             <form #myForm="ngForm">
                                <div class="form-group">
                                    <label for="Employee Id">
                                        VECHICLE NUMBER
                                    </label>
                                    <input type="number" 
                                           class="form-control" 
                                           name="empId" 
                                           #empId="ngModel" ngModel
                                           required
                                           pattern="[0-9]+"
                                           
                                            />
                                           
                                </div>
                                <div *ngIf="empId.touched">
                                  <div *ngIf="empId.errors?.['required']">
                                    <b style="color: red;">vechicle number required</b>
                                  </div>
                                  <div *ngIf="empId.errors?.['pattern']">
                                    <b>Invalid OWNER NAME</b>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label for="vechicle owner name">
                                        VECHICLE OWNER NAME
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="empName" 
                                           #empName="ngModel" ngModel
                                           required
                                           pattern="[a-zA-Z]+"
                        
                                            />
                    
                                </div>
                                <div *ngIf="empName.touched">
                                  <div *ngIf="empName.errors?.['required']">
                                    <b style="color: red;">vechicle owner name required  Required</b>
                                  </div>
                                  <div *ngIf="empName.errors?.['pattern']">
                                    <b>Invalid Employee Name</b>
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label for="Employee Salary">
                                      VECHICLE CROSSING DATE
                                        
                                    </label>
                                    <input type="date" 
                                           class="form-control" 
                                           name="empSalary" 
                                           #empSalary="ngModel" ngModel
                                           required
                                           pattern="[0-9]+"
                                           />

                                </div>
                                <div *ngIf="empSalary.touched">
                                  <div *ngIf="empSalary.errors?.['required']">
                                    <b style="color: red;">date required</b>
                                  </div>
                                  <div *ngIf="empSalary.errors?.['pattern']">
                                    <b>date required</b>
                                  </div>
                                </div>
                                                              
                                <button class="btn btn-success" (click)="insertEmployee(myForm.value)">
                                    Insert 
                                </button>
                            &nbsp;&nbsp;
                                <button class="btn btn-primary" (click)="updateEmployee(myForm.value)" >
                                    Update 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-danger" (click)="deleteEmployee(myForm.value)" >
                                    Delete 
                                </button>&nbsp;&nbsp;
                                <button class="btn btn-warning" (click)="findEmployee(myForm.value)">
                                    Find 
                                </button>
                                &nbsp;&nbsp;
                                <button class="btn btn-info"(click)="findAllEmployee()" >
                                    Find All
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
         <br>
         <div style="color: white;">
         <h3>{{result}}</h3>
         <!-- {{ employee.id}} - {{employee.empName}} - {{employee.empSalary}} -->
         <div style="width: 100%;" *ngIf="flag">
          <table width="80%" align="center"class="table table-borderd">
           <tr><th>VECHICLE NUMBER</th><th>VECHICLE OWNER NAME</th><th>VECHICLE CROSSING DATE</th></tr> 
            <tr *ngFor="let emp of employeeArr">
                <td> {{emp.id}} </td><td> {{emp.empName}} </td><td> {{emp.empSalary}} </td>
            </tr>
         </table>
         </div>
        </div>
        </body>
</html>

